rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /experiences/{expId} {
      allow read, write: if true;
    }
    match /cards/{cardId} {
      allow read, write: if true;
    }
    match /agreements/{agreementId} {
      allow read, write: if true;
    }
    match /certificates/{certId} {
      allow read, write: if true;
    }
    match /analytics/{docId} {
      allow read, write: if true;
    }
  }
}
